h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    /* padding: 20px; */
} 

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: ". . ." 
    ". . ." 
    ". . .";
    background-color: aqua;
    padding: 10px 0px 10px 10px;
    border: 10px;
    margin: 50px 50px 50px 50px;
}

.tile {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
    box-sizing: border-box; /* Ensure padding is included in width and height */
    display: flex;
}

.tile-start {
    background-color: white;
}

.done {
    background-color: rgb(73, 252, 100);
    padding: 15px;
    font-size: 15px;
    color: black;
    text-shadow: 1px;
    border-color: rgb(73, 49, 255);
    align-content: center;
    margin: 0px 40px 40px 0px;
}

.site {
    flex-direction: column;
}

.no-edit {
    background-color: blanchedalmond;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;/*0px 0px 75px 75px;*/
    margin-bottom: 30px;
}

.tile:nth-child(3n) {
    margin-right: 10px;
}

.tile:nth-child(n + 19):nth-child(-n + 27) {
    margin-bottom: 10px;
}

.tile:nth-child(n + 46):nth-child(-n + 54) {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.win_response {
    width: 300px;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: red; /* Example background color */
    border: 1px solid darkgreen; /* Example border */
    text-align: center; /* Center the text */
    font-weight: bold; /* Make the text bold */
    display: flex; /* Display as flex container */
    flex-direction: row; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
