body {
    display: flex;
    justify-content: center;
    font-family: "Clear Sans", "Helvetica Neue"
  }
  
  h1 {
    font-size: 80px;
    line-height: 0.7;
    color: rgb(99, 8, 255);
    margin: 0px;
  }
  
  .container {
    width: 468px;
    margin-top: 30px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .grid{
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #5940e2;
    border: 7px solid #5940e2;
    border-radius: 6px;
    margin-top: 20px;
  }
  
  .grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #EEE4DA;
    color: #e1cbfa;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
  }
  
  .score-container {
    text-align: center;
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: rgb(99, 8, 255);
    color: #FFFFFF;
  }
  
  #score {
    font-size: 30px;
  }
  
  .score-title {
    font-size: 16px;
  }